@use "./variables.scss" as *;
.checkout {
  h4 {
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
  }
  .billing-details {
    form {
      margin-top: 20px;
      label {
        font-weight: 600;
        font-size: 15px;
      }
      .form-control {
        box-shadow: none;
        &:focus {
          border-color: $main_color;
        }
      }
      button {
        background-color: $main_color;
        border: 1px solid $main_color;
        transition: 0.2s;
        width: 100%;
        padding: 8px;
        text-transform: uppercase;
        &:hover {
          background-color: #000;
          border-color: #000;
        }
      }
    }
  }
  .order-details {
    .order {
      padding: 30px;
      background-color: rgb(248, 243, 250);
      margin-top: 20px;
      .title {
        padding: 15px 0;
      }
      .products-info {
        padding: 15px 0;
        border-top: 1px solid #d7d7d7;
        border-bottom: 1px solid #d7d7d7;
      }
      .total-price {
        font-size: 16px;
        font-weight: 600;
        color: $main_color;
      }
    }
  }
}
