@use "./variables.scss" as *;

.header-container {
  color: #3e3d3d;
  font-size: 16px;
  font-weight: 400;
  .top-header {
    border-bottom: 1px solid #dddcdc;
    .settings {
      .langs,
      .currency {
        > span {
          padding-top: 12px;
          padding-bottom: 12px;
        }
        span {
          cursor: pointer;
          display: inline-block;
          transition: 0.2s;
          &:hover {
            color: $main_color;
          }
          svg {
            font-size: 13px;
            color: #9e9b9b;
          }
        }
        &:hover {
          .langs-list,
          .currencies-list {
            transform: rotateX(0deg);
          }
        }
        .langs-list,
        .currencies-list {
          background-color: #fff;
          z-index: 1;
          padding: 15px 20px;
          top: 100%;
          left: 0;
          width: 200%;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          transform-origin: top;
          transform: rotateX(90deg);
          transition: 0.3s;
          span {
            padding: 6px 0;
            font-size: 14px;
          }
        }
      }
      .currency {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          height: 20px;
          width: 1px;
          background-color: #d3cfcf;
          left: -1rem;
          top: 50%;
          transform: translateY(-50%);
        }
        &::before {
          content: "";
          position: absolute;
          height: 20px;
          width: 1px;
          background-color: #d3cfcf;
          right: -1rem;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    .delivery {
      span {
        color: $main_color;
        font-weight: 600;
      }
    }
  }
  .nav-container {
    .navbar {
      .logo {
        img {
          width: calc(70px + 4vw);
        }
      }
      .links {
        a {
          font-size: 15px;
          color: #3e3d3d;
          padding: 20px;
          display: inline-block;
          font-weight: 600;
          text-transform: uppercase;
          &:hover {
            color: $main_color;
          }
        }
      }
      .user-shopping {
        a {
          color: #363434;
          font-size: 20px;
        }
        .cart,
        .search,
        .account,
        .menu {
          cursor: pointer;
          font-size: 20px;
          color: #363434;
        }
        .wishlist,
        .compare,
        .cart {
          position: relative;
          span {
            position: absolute;
            top: -9px;
            right: -12px;
            width: 20px;
            height: 20px;
            background-color: #000;
            color: #fff;
            border-radius: 50%;
            text-align: center;
            line-height: 20px;
            font-size: 12px;
          }
        }
      }
    }
    .searchbar {
      top: 100%;
      right: 10%;
      padding: 20px;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      width: 350px;
      transform-origin: top;
      transform: rotateX(90deg);
      transition: 0.3s;
      z-index: 10;
      &.active {
        transform: rotateX(0deg) !important;
      }
      input {
        padding: 10px;
        border: 1.5px solid #cfcfcf;
        outline: none;
        width: 70%;
      }
      button {
        padding: 10px 20px;
        border: 1.5px solid $main_color;
        background-color: $main_color;
        color: #fff;
        transition: 0.3s;
        width: 30%;
        &:hover {
          background-color: #000;
        }
      }
    }
    .account-links {
      top: 100%;
      right: 10%;
      padding: 20px;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      width: 150px;
      transform-origin: top;
      transform: rotateX(90deg);
      transition: 0.3s;
      z-index: 10;
      &.active {
        transform: rotateX(0deg) !important;
      }
      a {
        color: #363434;
        font-weight: 600;
        transition: 0.2s;
        &:hover {
          color: $main_color;
          transform: translateX(4px);
        }
      }
    }
    .mini-cart {
      top: 100%;
      right: 10%;
      padding: 20px;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      width: 400px;
      transform-origin: top;
      transform: rotateX(90deg);
      z-index: 10;
      @media (max-width: 676px) {
        left: 20px;
        right: 20px;
        width: fit-content;
      }
      &.active {
        transform: rotateX(0deg) !important;
      }
      transition: 0.3s;
      .products {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 320px;
        .cart-product {
          border-bottom: 1px solid #e2e2e2;
          padding: 10px 0;
          .x {
            cursor: pointer;
            height: fit-content;
            transition: 0.2s;
            &:hover {
              color: $main_color;
            }
          }
        }
      }
      h6 {
        a {
          color: #333;
          font-size: 16px;
          transition: 0.2s;
          &:hover {
            color: $main_color;
          }
        }
      }
      .qty,
      .price {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        margin-top: 10px;
      }
      .color {
        font-size: 14px;
        margin-top: 10px;
        text-transform: capitalize;
      }
      .total {
        font-weight: 600;
      }
      .btns {
        padding: 20px;
        .go-to-cart,
        .go-to-checkout {
          a {
            display: block;
            border: 1px solid #9e9b9b;
            text-align: center;
            padding: 10px;
            color: #333;
            text-transform: uppercase;
            font-size: 15px;
            font-weight: 500;
            transition: 0.3s;
            &:hover {
              background-color: $main_color;
              color: #fff;
            }
          }
        }
        .go-to-cart {
          margin: 15px 0;
        }
      }
    }
  }
  .nav-mobile-container {
    background-color: transparent;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0%;
    transform: translateX(100%);
    transition: 0.3s;
    z-index: 30;
    &.active {
      transform: translateX(0);
    }
  }
  .mobile-navbar {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    overflow-y: auto;
    width: 300px;
    margin-left: auto;
    height: 100%;
    z-index: 30;
    .x {
      right: 300px;
      width: 50px;
      text-align: center;
      padding: 10px 0;
      background-color: #555;
      color: #fff;
      transition: 0.3s;
      cursor: pointer;
      svg {
        transition: 0.3s;
      }
      &:hover {
        background-color: #000;
        svg {
          transform: rotate(180deg);
        }
      }
    }
    .searchbar-mobile {
      background-color: #e2e1e1;
      input {
        width: 80%;
        padding: 15px 15px;
        background-color: transparent;
        border: none;
        outline: none;
      }
      button {
        width: 20%;
        text-align: center;
        padding: 15px 10px;
        background-color: transparent;
        border: none;
      }
    }
    .mobile-links {
      padding: 30px;
      a {
        padding: 10px 0;
        color: #333;
        font-weight: 600;
        transition: 0.2s;
        &:hover {
          color: $main_color;
        }
      }
    }
    .settings {
      padding: 10px 30px;
      label {
        font-weight: 500;
      }
      select {
        width: 100%;
        padding: 6px 10px;
        margin-top: 6px;
      }
    }
    .contact-info {
      padding: 0 30px 30px;
      font-size: 16px;
      a {
        color: #000;
        transition: 0.2s;
        &:hover {
          color: $main_color;
        }
      }
    }
  }
}
